<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.fslt.dao.NotesFileDao">

    <sql id="allFile">
        ${table}.id AS id
        ,${table}.folder_id AS folderId
        ,${table}.unique_code AS uniqueCode
        ,${table}.title AS title
        ,${table}.content_id AS contentId
        ,${table}.author AS author
        ,${table}.user_code AS userCode
        ,${table}.user_id AS userId
        ,${table}.create_time AS createTime
        ,${table}.modify_time AS modifyTime
        ,${table}.delete_flag AS deleteFlag
        ,${table}.status AS status
    </sql>

    <select id="getLatestFileList"
            resultType="com.fslt.entity.pojo.File">
        SELECT
        <include refid="allFile">
            <property name="table" value="nfi"/>
        </include>
        FROM
        t_notes_file nfi
        WHERE
        nfi.delete_flag = 0
        AND nfi.STATUS = 1
        ORDER BY
        nfi.modify_time DESC
    </select>

    <select id="getNoteInfoById"
            resultType="com.fslt.entity.vo.FileInfoVO">
        SELECT
            nfi.author AS author,
            nfi.create_time AS createTime,
            nfi.modify_time AS modifyTime,
            nf.folder_name AS folderName
        FROM
            t_notes_file nfi
            LEFT JOIN t_notes_folder nf ON nfi.folder_id = nf.id
        WHERE
            nfi.id = #{id,jdbcType = BIGINT}
    </select>

    <select id="getFileContentByFileId"
            resultType="com.fslt.entity.vo.FileInfoVO">
        SELECT
            nfi.id AS id,
            nfi.folder_ID as folderId,
            nfi.title AS title,
            nfi.content_id AS contentId,
            nc.content_md AS contentMd,
            nc.content_html AS contentHtml
        FROM
            t_notes_file nfi
            LEFT JOIN t_notes_content nc ON nc.id = nfi.content_id
        WHERE
            nfi.delete_flag = 0
            AND nfi.STATUS = 1
            AND nfi.id = #{id,jdbcType = BIGINT}
    </select>

    <!--    <insert id=""-->
    <!--            parameterType="com.fslt.entity.vo.FileInfoVO">-->

    <!--    </insert>-->

    <update id="updateTitleById"
            parameterType="com.fslt.entity.vo.FileInfoVO">
        UPDATE t_notes_file
        SET title = #{title,jdbcType = VARCHAR}
        WHERE
            id = #{id,jdbcType = BIGINT}
    </update>

    <insert id="addNewFile"
            parameterType="com.fslt.entity.vo.NewFileVO">
        INSERT INTO t_notes_file ( folder_id, unique_code, title, content_id )
        VALUES
            (
            #{folderId,jdbcType = BIGINT},
            #{uniqueCode,jdbcType = VARCHAR},
            #{title,jdbcType = VARCHAR},
            #{contentId,jdbcType = BIGINT}
            )
    </insert>

</mapper>